/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: grey;
  top: 0;
  left: 0;
}
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 600px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: azure;
}
.backdrop.is-hidden {
  display: none;
}
